.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  cursor: default;
}
.about__content p {
  margin: 1.5rem 0 2rem;
  color: var(--color-light);
}
.about__image {
  border-radius: 2rem;
  overflow: hidden;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  display: grid;
  place-items: center;
}
