.experience__details{
  display: flex;
  gap: 1rem;
}
.experience__container  :hover{
  background: transparent;
  border-color: var( --color-primary-variant);
  cursor: default;

}
.experience__icon{
  margin-top: 6px;
  color: var(--color-primary);
  
  }
  @media screen and (max-width: 1024px) {
    .experience__container{
      grid-template-columns: 1fr;
    }
    .experience__container >div {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;
    }
    .experience__content{
      padding: 1rem;
    }
    }  

    @media screen and (max-width: 600px) {
      .experience__container >div {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
      }
    }